$titleFontSize: 6rem;
$titleFontFamily: 'Bangers', cursive;
$bodyFontFamily:'Montserrat', sans-serif;
$bodyFontSize: 2rem;
$backgroundColor: #ff5050;
$blackColor: #303030;
$whiteColor: #fff;
$greyColor:#d3d3d3;
$chevronSize: 3.5rem;

h2{
	font-size: 3rem;
}